.wrapper {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
}